@model ProductViewModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>
<form asp-action="Edit" asp-controller="Products" asp-area="Products" method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="CategoryId" />
    <input type="hidden" asp-for="CategoryName" />
    <input type="hidden" asp-for="SellerId" />
    <input type="hidden" asp-for="Id" />

    <div class="form-group">
        <label asp-for="Name">Name</label>
        <input class="form-control" asp-for="Name" />
        <span asp-validation-for="Name"></span>
    </div>

    <div class="form-group">
        <label asp-for="BrandName">Brand</label>
        <input class="form-control" asp-for="BrandName" />
        <span asp-validation-for="BrandName"></span>
    </div>

    <div class="form-group">
        <label asp-for="Price">Price</label>
        <input class="form-control" asp-for="Price" />
        <span asp-validation-for="Price"></span>
        <br />
    </div>

    <div class="form-group">
        <label asp-for="Description">Description</label>
        <input class="form-control" asp-for="Description" />
        <span asp-validation-for="Description"></span>
        <br />
    </div>

    <div class="row">
        @foreach (var image in Model.ImageNames)
        {
            <div class="col-xs-3">
                <img style="width: 100%" src="~/uploads/img/products/@image" alt="Product image">
                <span data-image="@image" class="btn text-danger">Remove</span>
            </div>
        }
    </div>
    <br />

    <div class="form-group">
        <label asp-for="ImageNames">Add Images</label>
        <input type="file" class="form-control" asp-for="ImageNames" multiple="multiple" />
        <br />
    </div>

    <input type="submit" class="btn btn-success" value="Save" />
</form>

@section Scripts{ 
    <script>
        $(function() {
            $('.remove-image-btn').click(function () {
                var imageId = $(this).attr('data-image');
                
                $('#images-hidden-select option[value="' + imageId + '"]').attr("selected", true);
                $(this).parent().hide();
            });
        })
    </script>
}